.docs-div {
    margin-bottom: 4rem;
    border-bottom: solid 1px $main-color;
    padding-bottom: 2rem;
}


.docs-div2 {
    margin-bottom: 2.5rem;
    margin-left: 3.5rem;
    padding-bottom: 1.25rem;
}

.no-border{
    border: none;
}