@media (max-width: 900px) {

    .login-section span {
    width: calc(10vw - 2px);
    height: calc(10vw - 2px);
  }

}

@media (max-width: 600px) {

    .login-section span {
    width: calc(20vw - 2px);
    height: calc(20vw - 2px);
  }

}