.title {
    font-size: 58px;
    font-weight: bold;
    margin-bottom: 3rem;
}

.description {
    font-size: 22px;
    margin-bottom: 2rem;
}

.home-main {
    margin-top: 3rem;
}

.title2 {
    margin-top: 5rem;
}

.subtitle {
    font-size: 34px;
    font-weight: bold;
    margin-bottom: 1.5rem;
}

.subtitle-main{
    margin-top: 3rem;
}

.description2 {
    font-size: 20px;
    margin-bottom: 2rem;
}